@font-face {
    font-family: dense;
    src: url('../fonts/Dense-Regular.otf');
}
#message{
	width           : 90%;
	background      :#3399cc;
	padding         :20px 0;
	font-size       :140%;
	font-weight     :300;
	text-align      :center;
	color           :#fff;
	color           : white;
	background-color: rgb(51,153,204);
	text-align      : center;
	margin          : auto;
	margin-top      : 20px;
	margin-bottom   : 20px;
	font-family     :'Open Sans',sans-serif;
}

.top_over{
	text-align : center;
	background :#0057af ;
	font-family:dense;
	font-size: 30px;
	color: white;
	margin-bottom: 15px;
}

.msg_class{
	text-align: left;
	font-family     :'Open Sans',sans-serif;
	font-size: 25px;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
	margin: 10px;
	padding: 10px;
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(50%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 50%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

.msg_class_1{
	text-align: left;
	font-family     :'Open Sans',sans-serif;
	font-size: 25px;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
	margin: 10px;
	padding: 10px;
	background: rgba(252,234,187,1);
	background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 50%, rgba(252,205,77,1) 51%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(248,181,0,1)), color-stop(51%, rgba(252,205,77,1)), color-stop(100%, rgba(251,223,147,1)));
	background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 50%, rgba(252,205,77,1) 51%, rgba(251,223,147,1) 100%);
	background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 50%, rgba(252,205,77,1) 51%, rgba(251,223,147,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 50%, rgba(252,205,77,1) 51%, rgba(251,223,147,1) 100%);
	background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 50%, rgba(252,205,77,1) 51%, rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
}

.msg_class_2{
	text-align: left;
	font-family     :'Open Sans',sans-serif;
	font-size: 25px;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
	margin: 10px;
	padding: 10px;
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
}

.d_t{
	font-size: 10px;
}

.msg_box{
	width: 98%;
	height: 85px;
}

.message_box{
				width: 90%;
				margin: auto;
				background-color: #0057af;
				text-align: center;
				color: white;
				font-family     :'Open Sans',sans-serif;
				margin-bottom: 10px;
			}

.mid_table{
	width: 100%;
	color: red;
	text-align: center;
}

.profile_css div{
	float: left;
	margin-left : 25%;
}

.about_css{
	font-family :'Open Sans',sans-serif;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	margin: 5px;
}

.attendence{
	border: 1px solid #a2d246;
	border-radius: 4px;
	padding: 5px;
	width: 85%;
	margin: 5px;
	background-color: #ebf8a4;
	font-family     :'Open Sans',sans-serif;
}

#att_div_1{
	font-family :'Open Sans',sans-serif;
	font-size: 18px; 
}

.att_fixed{
	height: 40px;
}

.header_menu{
	text-align: right;
	font-family :'Open Sans',sans-serif;
	font: 2em;
	padding: 3px;
	margin: 0px;
	letter-spacing: 1px;
	font-weight: bold;
	color: white;
	background-color: #0057af;
}

img{
	position: relative;
	top: 8;
}

a{
	text-decoration: none;
}

.table_color tr td{
	width: 33%;
}

.table_color tr td a{
	color: white;
}

.table_color tr td a:hover{
	color: #66cccc;
}

		/* Library.php Styling  */

.extra_margin{
	margin: 20px;
}

#opt_main{
	width: 100%;
	font-family :'Open Sans',sans-serif;
}

h6{
	margin-top: -32px;
}

.atag{
	color: white;
}
.atag:hover{
	color: red;
}

#red_line{
	color: red;
	margin: 5px;
}

.a_button{
	margin-right: 0%;
}

.guest{
	text-align: right;
}

.red_side{
	position: relative;
	right: -84%;
	width: 189px;
	margin-top: 5px;
	padding: 5px;
	height: 41px;
	background-image: url(../images/button.png);
}

.red_side_1{
	position: relative;
	right: -84%;
	width: 189px;
	margin-top: 5px;
	padding: 5px;
	height: 41px;
	text-align: center;
}

.red_side_1 input{
	margin: 3px;
}

.msg_cancel{
	position: relative;
	right: -46%;
	top: -30px;
}

#message1{
	padding-top: 17;
}

.red_side1{
	position: relative;
	right: -84%;
	width: 203px;
	margin-top: 5px;
	padding: 5px;
	height: 41px;
	background-image: url(../images/upload.png);
}

.css_div span{
	font-size: 20px;
}

.margin_top{
	margin-top: -22px;
}

.margin_top b{
	color: #0057af;
}

.margin_top span{
	font-size: 13px;
}

.logger{
	margin-top:-50px;
	padding-bottom:10px;
	background-color: rgb(192, 61, 61);
	color: white;
	width: 25%;
	overflow: hidden;
	font-size: 17px;
	font-weight: bold;
	-webkit-box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    3px 3px 14px 0px rgba(50, 50, 50, 0.58);
	box-shadow:         3px 3px 14px 0px rgba(50, 50, 50, 0.58);
	margin-bottom: 10px;
	border-right: 5px solid black;
	-webkit-transition:all 2s;
}


 .search_textbox { 
    background: #FFF url(../images/download.png) no-repeat 4px 4px; 
    border: 1px solid #999; 
    outline:0; 
    padding-left: 25px;
    height:25px; 
    width: 100%;
  }

  .online_viewer{
  	margin: 40px;
  	text-align: center;
  	font-size: 20px;
  	border: 21px solid #0057af;
  }

  .online_viewer h3{
	color: white;
	background: #0057af;
  }